@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');


body {
    font-family: 'Roboto', sans-serif, Arial;
}

button {
    cursor: pointer;
    font-family: 'Roboto', sans-serif, Arial;
}

p {
    margin: 0px;
}

input::placeholder {
    font-family: Roboto, sans-serif, Arial;
}

input[type=text] {
    margin: 5px;
    margin-top: 10px;
    border-radius: 5px;
    border: 0px;
    padding: 8px;
    width: 100%;
    background-color: rgb(255, 226, 241);
}